# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
.env
.DS_Store
*.log
*.pid
*.seed
*.sock

# Build artifacts
/dist
/build
/out

# Editor/OS specific files
.vscode/
.idea/
.history/
.vs/
.classpath
.project
.settings
Thumbs.db